% This file managed by Puppet
% Template Path: rabbitmq/templates/rabbitmq.config
[
  {rabbit, [
    {tcp_listen_options,
         [binary,
         {packet,        raw},
         {reuseaddr,     true},
         {backlog,       128},
         {nodelay,       true},
         {exit_on_close, false}]
    },
    {tcp_listeners, []},
    {ssl_listeners, [5671]},
    {ssl_options, [
                   {cacertfile,"/etc/pki/tls/certs/packstack_cacert.crt"},
                   {certfile,"/etc/pki/tls/certs/ssl_amqp.crt"},
                   {keyfile,"/etc/pki/tls/private/ssl_amqp.key"},
                   {verify,verify_none},
                   {fail_if_no_peer_cert,true}
                  ]},
    {loopback_users, []},
    {tcp_listen_options, [binary,{packet, raw},{reuseaddr, true},{backlog, 128},{nodelay, true},{exit_on_close, false},{keepalive, true}]},
    {default_user, <<"amqp_user">>},
    {default_pass, <<"polaris">>}
  ]},
  {kernel, [
    
  ]}
].
% EOF
